@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --primary-color: '#FF0000';
    --secondary-color: '#00FF00';
    
    --success-color: '#';
    --info-color: '#';
    --warning-color: '#';
    --error-color: '#';
} */